*.pyc
*.sqlite3
.claude
.dockerignore
.env
.env.example
.git
.github
.gitignore
.mypy_cache
.pre-commit-config.yaml
.ruff_cache
.venv
.zed
__pycache__
db.sqlite3
Dockerfile
media
README.md
staticfiles
