{% extends "base.html" %}

{% block title %}New Asset{% endblock title %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="pure-form asset-form context-box">
    <h1>New Asset</h1>

    {% csrf_token %}

    {% if form.non_field_errors %}
    <ul class="errorlist">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <fieldset>
        {% include "_field.html" with field=form.tag %}
        {% include "_field.html" with field=form.owner %}
        {% include "model/_field.html" %}
    </fieldset>
    <fieldset>
        <legend>Info</legend>
        {% include "_field.html" with field=form.name %}
        {% include "_field.html" with field=form.description %}
    </fieldset>
    <fieldset>
        <legend>Extra</legend>
        {% include "_field.html" with field=form.category %}
        {% include "_field.html" with field=form.notes %}
        {% include "_field.html" with field=form.serial %}
    </fieldset>
    {% include "_image_field.html" %}
    <div class="footer">
        <button type="submit" class="pure-button pure-button-primary">Create</button>
        <button type="submit" name="_addanother" class="pure-button">Create and add another</button>
        <a class="pure-button cancel" href="javascript:history.back()">Cancel</a>
    </div>
</form>
<dialog id="model-modal" class="model-modal context-box">
    <div id="model-modal-body"></div>
</dialog>
{% endblock content %}
