{% extends "base.html" %}

{% block title %}{{ asset.tag }} - {{ asset.name }}{% endblock title %}

{% block content %}

<h1>{{ asset.tag }}</h1>
{% if asset.name %}<h2 class="subtitle">{{ asset.name }}</h2>{% endif %}

<div class="actions">
    <span class="spacer"></span>
    <a href="{{ asset.urls.audit }}" class="audit"><i class="fas fa-clipboard-check"></i> Audit</a>
    <a href="{{ asset.urls.edit }}" class="edit"><i class="fas fa-edit"></i> Edit</a>
    <a href="{{ asset.urls.delete }}" class="delete"><i class="fas fa-trash"></i> Delete</a>
</div>

<div class="pure-g">
    <div class="properties pure-g pure-u-1 pure-u-md-2-3">
        <div class="title pure-u-1 pure-u-md-1-4">Tag</div>
        <div class="value pure-u-1 pure-u-md-2-3">{{ asset.tag }}</div>

        <div class="title pure-u-1 pure-u-md-1-4">Status</div>
        <div class="value pure-u-1 pure-u-md-2-3">
            {% include "_status.html" with history=asset.current_history %}
        </div>

        <div class="title pure-u-1 pure-u-md-1-4">Location</div>
        <div class="value pure-u-1 pure-u-md-2-3">
            {% with location_chain=asset.location_chain %}
            {% if location_chain %}
                {% for location in location_chain reversed %}
                    <a href="{{ location.urls.view }}" class="location-parent">{{ location.display_name }}</a>{% if not forloop.last %} <span class="location-separator">›</span> {% endif %}
                {% endfor %}
            {% else %}
                <span class="empty-value">(none)</span>
            {% endif %}
            {% endwith %}
        </div>

        {% if asset.name %}
        <div class="title pure-u-1 pure-u-md-1-4">Name</div>
        <div class="value pure-u-1 pure-u-md-2-3">{{ asset.name }}</div>
        {% endif %}

        {% if asset.description %}
        <div class="title pure-u-1 pure-u-md-1-4">Description</div>
        <div class="value pure-u-1 pure-u-md-2-3">{{ asset.description }}</div>
        {% endif %}

        {% if asset.category %}
        <div class="title pure-u-1 pure-u-md-1-4">Category</div>
        <div class="value pure-u-1 pure-u-md-2-3">{{ asset.get_category_display }}</div>
        {% endif %}

        {% if asset.notes %}
        <div class="title pure-u-1 pure-u-md-1-4">Notes</div>
        <div class="value pure-u-1 pure-u-md-2-3">{{ asset.notes }}</div>
        {% endif %}
    </div>

    {% if asset.image %}
    <div class="image-gallery pure-u-1 pure-u-md-1-3">
        <a href="{{ asset.image.image.url }}" class="image-thumb">
            <img src="{{ asset.image.thumbnail_512.url }}" alt="{{ asset.image.title|default:'' }}">
        </a>
    </div>
    {% endif %}
</div>

<h2>History</h2>

<div class="item-list history-list">
    {% for history in histories %}
    <div class="item-entry pure-g {% cycle 'odd' 'even' %}">
        <div class="pure-u-1 pure-u-md-1-2">
            {{ history.when|timesince }} ago
            <small>{{ history.when|date:"Y-m-d H:i" }}</small>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            {% include "_status.html" with empty_text="unknown" %}
            {% if history.location %}
            <small><a class="location" href="{{ history.location.urls.view }}">{{ history.location.name|default:history.location.tag }}</a></small>
            {% endif %}
        </div>
        <div class="pure-u-1">
            {% for image in history.images.all %}
            <a href="{{ image.image.url }}" target="_blank" rel="noopener" class="photo-thumb">
                <img src="{{ image.thumbnail_128.url }}" alt="">
            </a>
            {% endfor %}
        </div>
        {% if history.notes %}
        <div class="pure-u-1">
            {{ history.notes }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% if not histories %}
    <div class="item-entry empty-list">
        <span class="empty-value">No audit history yet.</span>
    </div>
    {% endif %}
</div>

{% endblock content %}
