<div class="pure-control-group pure-g field-{{ field.name }} {% if field.field.required %}required{% endif %}">
    <label class="pure-u-1 pure-u-md-1-5" for="{{ field.id_for_label }}">{{ label|default:field.label }}</label>
    <div class="pure-u-1 pure-u-md-3-4">
        {{ field }}
        {% if field.help_text %}
        <span class="help-text">{{ field.help_text }}</span>
        {% endif %}
        {% for error in field.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
</div>
