{% extends "base.html" %}

{% block title %}{{ asset.tag }} - {{ asset.name }}{% endblock title %}

{% block content %}

<h1>{{ asset.tag }}</h1>
{% if asset.name %}<h2 class="subtitle">{{ asset.name }}</h2>{% endif %}

<div class="actions">
    <a href="{{ asset.urls.edit }}" class="btn">Edit</a>
    <a href="{{ asset.urls.delete }}" class="btn">Delete</a>
</div>

<div class="properties pure-g">
    <div class="title pure-u-1 pure-u-md-1-3">Tag</div>
    <div class="value pure-u-1 pure-u-md-2-3">{{ asset.tag }}</div>

    <div class="title pure-u-1 pure-u-md-1-3">Status</div>
    <div class="value pure-u-1 pure-u-md-2-3">
        {% if asset.status %}
            {{ asset.status }}
        {% else %}
            <span class="empty-value">(none)</span>
        {% endif %}
    </div>

    <div class="title pure-u-1 pure-u-md-1-3">Location</div>
    <div class="value pure-u-1 pure-u-md-2-3">
        {% if asset.location %}
            {{ asset.location }}
        {% else %}
            <span class="empty-value">(none)</span>
        {% endif %}
    </div>

    {% if asset.name %}
    <div class="title pure-u-1 pure-u-md-1-3">Name</div>
    <div class="value pure-u-1 pure-u-md-2-3">{{ asset.name }}</div>
    {% endif %}

    {% if asset.description %}
    <div class="title pure-u-1 pure-u-md-1-3">Description</div>
    <div class="value pure-u-1 pure-u-md-2-3">{{ asset.description }}</div>
    {% endif %}

    {% if asset.notes %}
    <div class="title pure-u-1 pure-u-md-1-3">Notes</div>
    <div class="value pure-u-1 pure-u-md-2-3">{{ asset.notes }}</div>
    {% endif %}
</div>

{% endblock content %}
